name = "moltsecret-api"
main = "src/index.js"
compatibility_date = "2024-01-01"
workers_dev = true

[[d1_databases]]
binding = "DB"
database_name = "moltsecret"
database_id = "29ac3f13-883c-4055-9088-03703002539d"
